<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personas | Listado</title>
</head>
<body>
<h1>Lista de reuniones</h1>
<ul>
    <li th:each="people:${people}">
        <span th:text="${people.nombre}">Nombre</span>
        <span th:text="${people.apellidos}">Apellido</span>
    </li>
</ul>
</body>
</html>